.profile{
    width:100%;
    display: flex;
    flex-direction: row;
    border:1px solid black;
    margin-bottom: 10px;
}
.profile-image{
    width:30%;
}
.profile-image img{
    width: 100%;
    height:250px;
}
.profile-info{
    width:70%;
    padding-left: 20px;
}